/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

html {
  touch-action: manipulation; /* 解决引入使用fastclick插件库后在苹果浏览器上双击会报错的bug(注:报错为:[Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive. See https://www.chromestatus.com/features/5093566007214080) */
} /* CSS属性 touch-action 用于设置触摸屏用户如何操纵元素的区域(例如，浏览器内置的缩放功能)。  值manipulation表示浏览器只允许进行滚动和持续缩放操作。任何其它被auto值支持的行为不被支持。启用平移和缩小缩放手势，但禁用其他非标准手势，例如双击以进行缩放。 禁用双击可缩放功能可减少浏览器在用户点击屏幕时延迟生成点击事件的需要。 这是“pan-x pan-y pinch-zoom”（为了兼容性本身仍然有效）的别名。*/

html,
body {
  width: 100%;
  height: 100%;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*显示省略号*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 清除浮动 */
.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
  height: 0;
  font-size: 0;
}

/* 解决vw兼容方案对要自动转为vw单位所引入的content，所造成的部分浏览器下,图片不会显示的问题 */
img {
  content: normal !important;
}

/* 通过伪类，根据不同屏幕像素比，缩小相应倍数处理1px边框,带圆角(也能处理带圆角),解决移动端浏览器显示1px像素边框比较粗的问题(注:实际项目中，若用的是预编译或者要做圆角，用此种方式) */
.border-1px {
  position: relative;
  border: none;
}
.border-1px::before {
  content: '';
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform-origin: left top;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .border-1px::before{
    width: 200%;
    height: 200%;
    transform: scale(.5);
  }
}           
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .border-1px::before{
    width: 300%;
    height: 300%;
    transform: scale(.333333);
  }
}

/* 通过postcss-write-svg插件的border-image,根据不同屏幕像素比，处理1px边框,不带圆角(不能处理带圆角),解决移动端浏览器显示1px像素边框比较粗的问题(注:实际项目中，若用的是预编译或者要做圆角，不能用此种方式) */
@svg 1px-border {
  width: 4px;
  height: 4px;
  @rect {
    fill: transparent;  /* content为透明 */
    width: 100%;  /* 宽度为4px * 100% */
    height: 100%;  /* 高度为4px * 100% */
    stroke-width: var(--width, 25%); /* 边框宽度 4px* 0.5* 25%或16.667%(即实际显示边框图(svg格式)的宽度为0.5px或0.3333...px */
    stroke: var(--color, black);  /* 颜色 */
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .svg-border-1px {
    box-sizing: border-box;
    border-image: svg(1px-border param(--width 25%) param(--color red)) 1 stretch !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .svg-border-1px {
    box-sizing: border-box;
    border-image: svg(1px-border param(--width 16.667%) param(--color red)) 1 stretch !important;
  }
}
